.ProfilePage{
     width: 65%;
}

h1 {
     color: #FFFFFF;
     margin-bottom: 1rem;
     margin-right: 5rem;
}

#profile {
     color:#FFFFFF;
     margin-bottom: 1rem;
}

input {
     background-color: black;
     color: #FFFFFF;
     border: 1px solid white;
     border-radius: 5px;
     height: 3rem;
     padding-left: 10px;
     width: 100%;
}

button {
     margin-top: 1rem;
     margin-right: 0.5rem;
     align-self: flex-end;
}

button:active {
     background-color: aquamarine;
}

img {
    border-radius: 20%;
    height: 8rem;
    width: 8rem;
}

#name {
     color: white;
     border: 1px solid white;
     padding: 1rem;
     border-radius: 15px;
     background-color: #212529;
}